@use '../../base';

.card {
  position: relative;
}

.descriptionContainer {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px 6px 0 0;
  bottom: 0;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  display: flex;
  font-family: base.$nunito-sans, sans-serif;
  font-size: 24px;
  height: 115px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100vw;
  padding: 12px;
  align-items: center;

  .productImageContainer {
    border-radius: 3px;
    box-shadow: 3px;
    height: 115px;
    margin-right: 12px;
    overflow: hidden;
    width: 115px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .productDetailsContainer {
    display: flex;
    flex-direction: column;
    line-height: 21px;
    text-align: left;

    .brandName {
      font-size: 14px;
      font-weight: 700;
    }

    .productName {
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
    }

    .starsContainer {
      margin: 0;
      width: 100px;
    }

    .productPrice {
      font-size: 14px;
      font-weight: 800;
    }

    .ctaContainer {
      button {
        background-color: #ff5b5d;
        border-radius: 3px;
        border: none;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        height: 24px;
        margin: 0;
        padding: 3px 6px;
        width: 118px;
        z-index: 1;
        cursor: pointer;

        &:hover {
          background-color: #f8bdbb;
        }
      }
    }
  }
}

.cardHeaderContainer {
  display: none;
  background-color: #000;
  color: #fff;
  height: 64px;
  line-height: 1.5;
  padding-left: 48px;
  padding-top: 24px;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100vw;

  .headerBrandText {
    font-size: 14;
    font-weight: 800;
    height: 24px;
  }

  .headerProductText {
    font-size: 16px;
    height: 24px;
  }
}

@media screen and (min-width: base.$mq-lg) {
  .card {
      width: 282px;
      height: 501px;
  }
  
  .productImageContainer {
    display: none;
  }

  .descriptionContainer {
    height: 109px;
    width: calc(100% - 24px);
    border-radius: 0;

    .productDetailsContainer {
      .productName {
        line-height: 16px;
      }
    }
  }
}
